.card {
  padding: 90px 70px;
  margin: 20px 20px;
  background-color: #f5e9f7;
  border-color: #a556b3;
  border-style: solid;
  border-width: 5px;
  font-family: "Cairo", sans-serif;
}

.form-control {
  background-color: #c1eaec;
  border-color: #1ab2a8;
  border-width: 2px;
}

#city-input {
  padding: 0;
  background-color: #c1eaec;
  border-color: #1ab2a8;
  border-width: 2px;
  border: none;
  width: 90%;
}

#button {
  color: grey;
}

#weather-description {
  text-transform: capitalize;
}

small {
  font-size: 30px;
}
h1 {
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 2px;
  text-transform: capitalize;
}

ul {
  list-style: none;
  font-size: large;
  padding-top: 1px;
  padding-bottom: 2px;
}

a {
  text-decoration: none;
}

footer {
  font-size: 12px;
  text-align: center;
}

.row {
  text-align: center;
  padding: 10px;
  justify-content: space-between;
}

.main {
  font-size: 90px;
  font-weight: 800;
}

.weather-forecast {
  margin-top: 40px;
  text-align: center;
  column-gap: 20%;
}

.single-forecast {
  border: 2px solid black;
  border-radius: 25%;
  padding: 0 12px;
  background-color: #d6e1f6;
  border-color: #ffa726;
}

.min {
  opacity: 0.7;
}

#forecast {
  column-gap: 20%;
}
